.blockTestimonial {
  --titleFontSize: var(--xsTitleFontSize, 1.8rem);
  --textFontSize: var(--xsTextFontSize, 1.2rem);
  --maxWidth: var(--xsMaxWidth, 85vw);
  width: calc(100% - (var(--marginRight, 0px) + var(--marginLeft, 0px)));
}
.blockTestimonial__content-title {
  font-family: var(--titleFontFamily, var(--defaultFontFamily));
  font-size: var(--titleFontSize);
  color: var(--titleColor, var(--defaultPageTitleColor));
}
.blockTestimonial__name {
  font-family: var(--textFontFamily, var(--defaultFontFamily));
  font-size: calc(var(--textFontSize) * 1.125);
  color: var(--titleColor, var(--defaultPageTitleColor));
}
.blockTestimonial__organization {
  font-family: var(--textFontFamily, var(--defaultFontFamily));
  font-size: calc(var(--textFontSize) * 0.825);
  color: var(--titleColor, var(--defaultPageTitleColor));
}
.blockTestimonial__text {
  font-family: var(--textFontFamily, var(--defaultFontFamily));
  font-size: var(--textFontSize);
  color: var(--textColor, var(--bs-block-text-color));
}
