.blockContactInfo {
  --textFontSize: var(--xsTextFontSize, 1rem);
  --maxWidth: var(--xsMaxWidth, 85vw);
  font-family: var(--textFontFamily, var(--bs-body-font-family));
  color: var(--textColor, var(--bs-body-color));
}
.blockContactInfo__phones {
  font-size: var(--textFontSize);
}
.blockContactInfo .field--name-contact-info-phone-type {
  font-size: calc(var(--textFontSize) * 1.1);
}
.blockContactInfo__phones a {
  color: var(--linkColor, var(--bt--link-color, var(--bs-accent)));
}
.blockContactInfo__address-label {
  font-size: calc(var(--textFontSize) * 1.1);
}
.blockContactInfo__address {
  font-size: var(--textFontSize);
}
