.blockContactInfo {
  --xsTextFontSize: 1.2rem;
  font-size: var(--xsTextFontSize);
  font-family: var(--textFontFamily, var(--defaultFontFamily));
  color: var(--textColor, var(--bs-block-text-color));
}
.blockContactInfo__phones a {
  color: var(--linkColor, #BC8927);
}
