.block.blockContactInfo--full {
  --xsTextAlign: left;
}

.blockContactInfo--full .boxed {
  max-width: var(--maxWidth);
  margin: 0 auto;
}
.blockContactInfo--full__phones {
  margin-top: calc(var(--textFontSize) * 0.75);
}
.blockContactInfo--full .field--name-contact-info-phone-type {
  font-weight: bold;
}
.blockContactInfo--full__address-wrapper {
  margin-top: calc(var(--textFontSize) * 0.75);
}
.blockContactInfo--full__address-label {
  font-weight: bold;
}
.blockContactInfo--full__address {
  margin-top: 0px;
}
