.blockSectionTitle--left_offset {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blockSectionTitle--left_offset__content-title {
  margin-top: var(--captionFontSize);
  margin-bottom: 0;
  font-weight: bold;
}
.blockSectionTitle--left_offset__caption {
  margin-bottom: var(--captionFontSize);
}
.blockSectionTitle--left_offset__text {
  margin-bottom: var(--captionFontSize);
}
.blockSectionTitle--left_offset__buttons {
  margin-bottom: var(--captionFontSize);
}
