.blockSectionTitle--right_offset {
  display: flex;
  flex-direction: column;
  justify-content: right;
  z-index: 1;
}
.blockSectionTitle--right_offset__content-title {
  margin-top: var(--captionFontSize);
  margin-bottom: 0;
  font-weight: bold;
}
.blockSectionTitle--right_offset__caption {
  margin-bottom: var(--captionFontSize);
}
.blockSectionTitle--right_offset__text {
  margin-bottom: var(--captionFontSize);
}
.blockSectionTitle--right_offset__buttons {
  margin-bottom: var(--captionFontSize);
}
