.blockSectionTitle--right_offset {
  display: flex;
  flex-direction: column;
  justify-content: right;
  z-index: 1;
}
.blockSectionTitle--right_offset__content-title {
  height: -moz-fit-content;
  height: fit-content;
  align-self: right;
  margin: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}
.blockSectionTitle--right_offset__caption {
  margin: 1rem;
}

@media screen and (min-width: 768px) {
  .blockSectionTitle--right_offset {
    position: relative;
    right: -3rem;
    box-shadow: gray 10px 10px 20px;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media screen and (orientation: landscape) and (min-width: 800px) and (max-height: 500px) {
  .blockSectionTitle--right_offset {
    position: relative;
    right: -3rem;
    box-shadow: gray 10px 10px 20px;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media screen and (orientation: landscape) and (min-width: 660px) and (max-width: 750px) {
  .blockSectionTitle--right_offset {
    position: relative;
    top: -6rem;
    box-shadow: gray 10px 10px 20px;
    align-self: center;
  }
}
@media screen and (min-width: 1024px) {
  .blockSectionTitle--right_offset {
    justify-self: center;
    position: relative;
    right: -10rem;
    box-shadow: gray 10px 10px 20px;
  }
}
