.blockSectionTitle {
  --xsTitleFontSize: 1.8rem;
  --xsCaptionFontSize: 1.2rem;
  box-sizing: border-box;
}
.blockSectionTitle__content-title {
  color: var(--titleColor, var(--defaultPageTitleColor));
  font-family: var(--titleFontFamily, var(--defaultFontFamily));
  font-size: var(--xsTitleFontSize, 1.8rem);
}
.blockSectionTitle__caption {
  color: var(--captionColor, var(--defaultCaptionTextColor));
  font-family: var(--captionFontFamily, var(--defaultFontFamily));
  font-size: var(--xsCaptionFontSize, 1.2rem);
}
