.blockSectionTitle--default {
  max-width: var(--xsMaxWidth);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blockSectionTitle--default__content-title {
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 1rem;
  font-weight: bold;
}
.blockSectionTitle--default__caption {
  margin-bottom: 1rem;
}
