.blockSectionTitle {
  --defaultPadding: 0.5rem;
  --defaultBgColor: var(--bs-block-bg-color);
  --defaultTitleColor: var(--defaultPageTitleColor);
  --defaultCaptionColor: var(--defaultCaptionTextColor);
  box-sizing: border-box;
  width: 100%;
  padding-left: calc(var(--smPaddingLeft, var(--defaultPadding)) * var(--defaultPaddingFactor));
  padding-top: calc(var(--smPaddingTop, var(--defaultPadding)) * var(--defaultPaddingFactor));
  padding-right: calc(var(--smPaddingRight, var(--defaultPadding)) * var(--defaultPaddingFactor));
  padding-bottom: calc(var(--smPaddingBottom, var(--defaultPadding)) * var(--defaultPaddingFactor));
  text-align: var(--textAlign, center);
  background-color: var(--backgroundColor, var(--defaultBgColor));
  align-self: var(--smAlignSelf, stretch);
}
.blockSectionTitle__content-title {
  text-align: var(--textAlign, center);
  color: var(--titleColor, var(--defaultTitleColor));
}
.blockSectionTitle__caption {
  text-align: var(--textAlign, center);
  color: var(--captionColor, var(--defaultCaptionColor));
}

@media screen and (min-width: 768px) {
  .blockSectionTitle {
    --defaultPadding: 1rem;
    padding-left: calc(var(--mdPaddingLeft, var(--defaultPadding)) * var(--defaultPaddingFactor));
    padding-top: calc(var(--mdPaddingTop, var(--defaultPadding)) * var(--defaultPaddingFactor));
    padding-right: calc(var(--mdPaddingRight, var(--defaultPadding)) * var(--defaultPaddingFactor));
    padding-bottom: calc(var(--mdPaddingBottom, var(--defaultPadding)) * var(--defaultPaddingFactor));
    align-self: var(--mdAlignSelf, stretch);
  }
}
@media screen and (min-width: 1024px) {
  .blockSectionTitle {
    --defaultPadding: 2rem;
    padding-left: calc(var(--lgPaddingLeft, var(--defaultPadding)) * var(--defaultPaddingFactor));
    padding-top: calc(var(--lgPaddingTop, var(--defaultPadding)) * var(--defaultPaddingFactor));
    padding-right: calc(var(--lgPaddingRight, var(--defaultPadding)) * var(--defaultPaddingFactor));
    padding-bottom: calc(var(--lgPaddingBottom, var(--defaultPadding)) * var(--defaultPaddingFactor));
    align-self: var(--lgAlignSelf, stretch);
  }
}
@media screen and (min-width: 1280px) {
  .blockSectionTitle {
    --defaultPadding: 3rem;
    padding-left: calc(var(--xlPaddingLeft, var(--defaultPadding)) * var(--defaultPaddingFactor));
    padding-top: calc(var(--xlPaddingTop, var(--defaultPadding)) * var(--defaultPaddingFactor));
    padding-right: calc(var(--xlPaddingRight, var(--defaultPadding)) * var(--defaultPaddingFactor));
    padding-bottom: calc(var(--xlPaddingBottom, var(--defaultPadding)) * var(--defaultPaddingFactor));
    align-self: var(--xlAlignSelf, stretch);
  }
}
@media screen and (min-width: 1536px) {
  .blockSectionTitle {
    --defaultPadding: 3rem;
    padding-left: calc(var(--xxlPaddingLeft, var(--defaultPadding)) * var(--defaultPaddingFactor));
    padding-top: calc(var(--xxlPaddingTop, var(--defaultPadding)) * var(--defaultPaddingFactor));
    padding-right: calc(var(--xxlPaddingRight, var(--defaultPadding)) * var(--defaultPaddingFactor));
    padding-bottom: calc(var(--xxlPaddingBottom, var(--defaultPadding)) * var(--defaultPaddingFactor));
    align-self: var(--xxlAlignSelf, stretch);
  }
}
