.blockSectionTitle--default {
  max-width: var(--maxWidth);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blockSectionTitle--default__content-title {
  margin-top: var(--captionFontSize);
  margin-bottom: 0;
  font-weight: bold;
}
.blockSectionTitle--default__caption {
  margin-bottom: var(--captionFontSize);
}
.blockSectionTitle--default__text {
  margin-bottom: var(--captionFontSize);
}
.blockSectionTitle--default__buttons {
  margin-bottom: var(--captionFontSize);
}
