.blockSectionTitle--full {
  display: flex;
  flex-direction: column;
}
.blockSectionTitle--full .boxed {
  max-width: var(--maxWidth);
  align-self: center;
}
.blockSectionTitle--full__content-title {
  margin-top: var(--captionFontSize);
  margin-bottom: 0;
  font-weight: bold;
}
.blockSectionTitle--full__caption {
  margin-bottom: var(--captionFontSize);
}
.blockSectionTitle--full__text {
  margin-bottom: var(--captionFontSize);
}
.blockSectionTitle--full__buttons {
  margin-bottom: var(--captionFontSize);
}
