@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
  -webkit-animation-iteration-count: var(--animationCount, 1s);
  animation-iteration-count: var(--animationCount, 1s);
  -webkit-animation-duration: var(--animationDuration, 1s);
  animation-duration: var(--animationDuration, 1s);
  -webkit-animation-delay: var(--animationDelay, 0s);
  animation-delay: var(--animationDelay, 0s);
  -webkit-animation-timing-function: var(--animationFunction, ease);
  animation-timing-function: var(--animationFunction, ease);
  -webkit-animation-fill-mode: var(--animationFill, both);
  animation-fill-mode: var(--animationFill, both);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
