@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
  -webkit-animation-iteration-count: var(--animationCount, 1s);
  animation-iteration-count: var(--animationCount, 1s);
  -webkit-animation-duration: var(--animationDuration, 1s);
  animation-duration: var(--animationDuration, 1s);
  -webkit-animation-delay: var(--animationDelay, 0s);
  animation-delay: var(--animationDelay, 0s);
  -webkit-animation-timing-function: var(--animationFunction, ease);
  animation-timing-function: var(--animationFunction, ease);
  -webkit-animation-fill-mode: var(--animationFill, both);
  animation-fill-mode: var(--animationFill, both);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
