@keyframes lightSpeedIn {
  0% {
    opacity: 0;
    transform: translateX(100%) skewX(-30deg);
  }
  60% {
    opacity: 1;
    transform: translateX(-20%) skewX(30deg);
  }
  80% {
    opacity: 1;
    transform: translateX(0%) skewX(-15deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0%) skewX(0deg);
  }
}
.lightSpeedIn {
  animation-name: lightSpeedIn;
  animation-iteration-count: var(--animationCount, 1s);
  animation-timing-function: ease-out;
  animation-duration: var(--animationDuration, 1s);
  animation-delay: var(--animationDelay, 0s);
  animation-timing-function: var(--animationFunction, ease);
  animation-fill-mode: var(--animationFill, both);
  backface-visibility: hidden;
}
