@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.pulse {
  animation-name: pulse;
  animation-iteration-count: var(--animationCount, 1s);
  animation-duration: var(--animationDuration, 1s);
  animation-delay: var(--animationDelay, 0s);
  animation-timing-function: var(--animationFunction, ease);
  animation-fill-mode: var(--animationFill, both);
  backface-visibility: hidden;
}
