@keyframes rotateOutUpLeft {
  0% {
    opacity: 1;
    transform: rotate(0);
    transform-origin: left bottom;
  }
  100% {
    opacity: 0;
    transform: rotate(-90deg);
    transform-origin: left bottom;
  }
}
.rotateOutUpLeft {
  animation-name: rotateOutUpLeft;
  animation-iteration-count: var(--animationCount, 1s);
  animation-duration: var(--animationDuration, 1s);
  animation-delay: var(--animationDelay, 0s);
  animation-timing-function: var(--animationFunction, ease);
  animation-fill-mode: var(--animationFill, both);
  backface-visibility: hidden;
}
