@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-2000px);
  }
}
.slideOutLeft {
  animation-name: slideOutLeft;
  animation-iteration-count: var(--animationCount, 1s);
  animation-duration: var(--animationDuration, 1s);
  animation-delay: var(--animationDelay, 0s);
  animation-timing-function: var(--animationFunction, ease);
  animation-fill-mode: var(--animationFill, both);
  backface-visibility: hidden;
}
