@keyframes tada {
  0% {
    transform: scale(1);
  }
  10%,
  20% {
    transform: scale(0.9) rotate(-3deg);
  }
  30%,
  50%,
  70%,
  90% {
    transform: scale(1.1) rotate(3deg);
  }
  40%,
  60%,
  80% {
    transform: scale(1.1) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}
.tada {
  animation-name: tada;
  animation-iteration-count: var(--animationCount, 1s);
  animation-duration: var(--animationDuration, 1s);
  animation-delay: var(--animationDelay, 0s);
  animation-timing-function: var(--animationFunction, ease);
  animation-fill-mode: var(--animationFill, both);
  backface-visibility: hidden;
}
