@keyframes zoomOutLeft {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0);
  }
  100% {
    opacity: 0;
    transform: scale(0.1) translate3d(-2000px, 0, 0);
    transform-origin: left center;
  }
}
.zoomOutLeft {
  animation-name: zoomOutLeft;
  animation-iteration-count: var(--animationCount, 1s);
  animation-duration: var(--animationDuration, 1s);
  animation-delay: var(--animationDelay, 0s);
  animation-timing-function: var(--animationFunction, ease);
  animation-fill-mode: var(--animationFill, both);
  backface-visibility: hidden;
}
