.blockSocialProfiles {
  --textFontSize: var(--xsTextFontSize, 1.2rem);
  --maxWidth: var(--xsMaxWidth, 85vw);
  width: calc(100% - (var(--marginRight, 0px) + var(--marginLeft, 0px)));
  font-size: var(--textFontSize);
  font-family: var(--textFontFamily), var(--bs-body-font-family);
  color: var(--textColor, var(--bs-block-text-color));
}
