.blockSocialProfiles--full {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  height: 80px;
  justify-content: center;
  align-items: center;
}
.blockSocialProfiles--full div {
  width: 40px;
  height: 40px;
}
.blockSocialProfiles--full__profile {
  width: 40px;
  height: 40px;
}
.blockSocialProfiles--full__profile svg {
  width: 40px;
  height: 40px;
  color: var(--bs-white);
  transition: color 600ms;
}
