.block.blockSocialProfiles--full {
  --alignSelf: var(--xsAlignSelf, center);
}

.blockSocialProfiles--full {
  display: flex;
  justify-content: center;
}
.blockSocialProfiles--full .boxed {
  max-width: var(--maxWidth);
  display: flex;
  gap: calc(var(--textFontSize) * 0.65);
}
.blockSocialProfiles--full__social-network {
  width: 30px;
  height: 30px;
}
.blockSocialProfiles--full__social-network .svg-icon svg {
  height: unset;
}
