.blockImageLink--small {
  max-width: 400px;
  justify-self: center;
}
.blockImageLink--small__content-title {
  display: block;
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: zombie;
  text-transform: uppercase;
  text-align: center;
  max-width: 95%;
  margin: 0 auto;
  word-wrap: break-word;
  align-self: center;
}
.blockImageLink--small img {
  max-width: 398px;
}

@media screen and (min-width: 992px) {
  .blockImageLink--small {
    max-width: 280px;
  }

  .blockImageLink--small__content-title {
    font-size: 2rem;
    max-width: 276px;
  }

  .blockImageLink--small img {
    max-width: 278px;
  }
}
@media screen and (min-width: 1200px) {
  .blockImageLink--small {
    max-width: 340px;
  }

  .blockImageLink--small__content-title {
    font-size: 2rem;
    max-width: 336px;
  }

  .blockImageLink--small img {
    max-width: 338px;
  }
}
@media screen and (min-width: 1400px) {
  .blockImageLink--small {
    max-width: 400px;
  }

  .blockImageLink--small__content-title {
    max-width: 396px;
  }

  .blockImageLink--small img {
    max-width: 398px;
  }
}
