.blockImageLink {
  --xsTitleFontSize: 1.8rem;
  --xsCaptionFontSize: 1.2rem;
}
.blockImageLink__content-title {
  font-family: var(--titleFontFamily, var(--defaultFontFamily));
  font-size: var(--xsTitleFontSize);
  color: var(--titleColor, var(--defaultPageTitleColor));
}
