.block.blockEmbeddedVideo {
  background-color: var(--backgroundColor, var(--bs-block-bg-color));
}

.blockEmbeddedVideo {
  --titleFontSize: var(--xsTitleFontSize, 1.8rem);
  --captionFontSize: var(--xsCaptionFontSize, 1.2rem);
  --textFontSize: var(--xsTextFontSize, 1.2rem);
  --maxWidth: var(--xsMaxWidth, 85vw);
  width: calc(100% - (var(--marginRight, 0px) + var(--marginLeft, 0px)));
}
.blockEmbeddedVideo__content-title {
  font-family: var(--titleFontFamily);
  font-size: var(--titleFontSize);
  color: var(--titleColor, var(--bt--block-title-color, var(--bt--page-title-color, var(--bs-primary-600))));
}
.blockEmbeddedVideo__caption {
  font-family: var(--captionFontFamily);
  font-size: var(--captionFontSize);
  color: var(--captionColor, var(--bt--caption-text-color, var(--bs-secondary)));
}
.blockEmbeddedVideo__text {
  font-family: var(--textFontFamily, var(--bs-body-font-family));
  font-size: var(--textFontSize);
  color: var(--textColor, var(--bs-body-color));
}
