.blockTextIcon--default {
  max-width: var(--xsMaxWidth);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blockTextIcon--default__icon {
  margin: 1rem;
  margin-bottom: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  justify-self: center;
}
.blockTextIcon--default__icon .svg-icon {
  width: 100px;
  height: 100px;
}
.blockTextIcon--default__icon svg {
  width: 100px;
  height: 100px;
}
