.blockTextIcon--full .boxed {
  --iconSize: var(--xsIconSize, 100px);
  max-width: var(--maxWidth);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blockTextIcon--full__content-title {
  margin-bottom: 0;
}
.blockTextIcon--full__caption {
  padding-bottom: var(--captionFontSize);
}
.blockTextIcon--full__text {
  margin-bottom: var(--captionFontSize);
}
.blockTextIcon--full__buttons {
  margin-bottom: var(--captionFontSize);
  border: 0px;
}
.blockTextIcon--full__icon {
  margin: 1rem;
  margin-bottom: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  justify-self: center;
}
.blockTextIcon--full__icon .svg-icon {
  width: var(--iconSize);
  height: var(--iconSize);
}
.blockTextIcon--full__icon svg {
  width: var(--iconSize);
  height: var(--iconSize);
}
