.blockTextIcon {
  --xsTitleFontSize: 1.8rem;
  --xsCaptionFontSize: 1.2rem;
  --xsTextFontSize: 1.2rem;
  --titleFontSize: var(--xsTitleFontSize);
  --captionFontSize: var(--xsCaptionFontSize);
  --textFontSize: var(--xsTextFontSize);
  --maxWidth: var(--xsMaxWidth);
  width: calc(100% - (var(--marginRight, 0px) + var(--marginLeft, 0px)));
}
.blockTextIcon__icon svg {
  color: var(--iconColor, var(--defaultPageTopTextColor));
}
.blockTextIcon__content-title {
  color: var(--titleColor, var(--defaultPageTitleColor));
  font-family: var(--titleFontFamily, var(--defaultFontFamily));
  font-size: var(--titleFontSize);
}
.blockTextIcon__caption {
  color: var(--captionColor, var(--defaultCaptionTextColor));
  font-family: var(--captionFontFamily, var(--defaultFontFamily));
  font-size: var(--captionFontSize);
}
.blockTextIcon__text {
  color: var(--textColor, var(--bs-block-text-color));
  font-family: var(--textFontFamily, var(--defaultFontFamily));
  font-size: var(--textFontSize);
}
.blockTextIcon__button {
  --bs-btn-bg: var(--buttonColor, var(--bs-primary));
  --bs-btn-color: var(--buttonLinkColor, var(--bs-button-link-color));
  --bs-btn-border-color: var(--buttonLinkColor, var(--bs-button-link-color));
  --bs-btn-hover-bg: var(--buttonColor, var(--bs-primary));
  --bs-btn-hover-color: var(--buttonLinkColor, var(--bs-button-link-color));
  --bs-btn-hover-border-color: var(--buttonLinkColor, var(--bs-button-link-color));
}
.blockTextIcon__button a {
  color: var(--buttonLinkColor, var(--bs-button-link-color));
  padding-left: var(--buttonIcon, 0);
  font-size: var(--textFontSize);
}
.blockTextIcon__button-icon svg {
  color: var(--buttonLinkColor, var(--bs-button-link-color));
}
