.blockTextIcon--text_inline {
  max-width: var(--xsMaxWidth);
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
}
.blockTextIcon--text_inline__text {
  margin-top: 0;
}
.blockTextIcon--text_inline__text p {
  margin: 0;
}
.blockTextIcon--text_inline__icon {
  margin: 0 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  justify-self: center;
}
.blockTextIcon--text_inline__icon .svg-icon {
  width: 20px;
  height: 20px;
}
.blockTextIcon--text_inline__icon svg {
  width: 20px;
  height: 20px;
}
