.blockTextIcon--text_inline {
  --xsIconSize: 20px;
  --iconSize: var(--xsIconSize);
  max-width: var(--maxWidth);
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
}
.blockTextIcon--text_inline__content-title {
  margin-top: var(--captionFontSize);
  margin-bottom: 0;
}
.blockTextIcon--text_inline__caption {
  padding-bottom: var(--captionFontSize);
}
.blockTextIcon--text_inline__text {
  margin-bottom: var(--captionFontSize);
}
.blockTextIcon--text_inline__buttons {
  margin-bottom: var(--captionFontSize);
  border: 0px;
}
.blockTextIcon--text_inline__text {
  margin-top: 0;
}
.blockTextIcon--text_inline__text p {
  margin: 0;
}
.blockTextIcon--text_inline__icon {
  margin: 0 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  justify-self: center;
}
.blockTextIcon--text_inline__icon .svg-icon {
  width: var(--iconSize);
  height: var(--iconSize);
}
.blockTextIcon--text_inline__icon svg {
  width: var(--iconSize);
  height: var(--iconSize);
}
