.block.siteBranding {
  --xsNameFontSize: 1.5rem;
  --xsSloganFontSize: 0.8rem;
  --xsMaxWidth: max-content;
}

.siteBranding {
  min-width: var(--logoSize, 72px);
  max-width: var(--xsMaxWidth);
}
.siteBranding__logo {
  width: var(--logoSize, 72px);
}
.siteBranding__logo img {
  width: 100%;
}
.siteBranding__name {
  font-size: var(--xsNameFontSize);
  font-family: var(--nameFontFamily, var(--defaultFontFamily));
}
.siteBranding__name a {
  color: var(--nameColor, var(--defaultPageTitleColor));
}
.siteBranding__slogan {
  color: var(--sloganColor, var(--bs-accent));
  font-size: var(--xsSloganFontSize);
  font-family: var(--sloganFontFamily, var(--defaultFontFamily));
}
