.nodeBlogPost__author {
  margin-top: 2rem;
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;
  align-items: last baseline;
}
.nodeBlogPost__author .form-item {
  font-size: 0.8rem;
}
.nodeBlogPost__author-image img {
  border-radius: 100%;
}
