.paragraphImage--default {
  margin: 0.5rem 0;
}
.paragraphImage--default__image {
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}
.paragraphImage--default img {
  max-width: 95vw;
}
