.blockTitleImage--default {
  max-width: var(--maxWidth);
  display: grid;
  grid-auto-rows: 270px 40px auto;
  justify-items: center;
}
.blockTitleImage--default__content-title {
  margin-top: var(--captionFontSize);
  margin-bottom: 0;
}
.blockTitleImage--default__caption {
  margin-bottom: var(--captionFontSize);
}
.blockTitleImage--default__text {
  margin-bottom: var(--captionFontSize);
}
.blockTitleImage--default__buttons {
  margin-bottom: var(--captionFontSize);
}
.blockTitleImage--default__image {
  width: -moz-max-content;
  width: max-content;
}
.blockTitleImage--default__image img {
  border-radius: 100%;
}
