.blockTitleImage--default {
  max-width: var(--xsMaxWidth);
  display: grid;
  grid-auto-rows: 270px 40px auto;
  justify-items: center;
}
.blockTitleImage--default__content-title {
  font-size: 2rem;
  letter-spacing: 0.25rem;
}
.blockTitleImage--default__image {
  width: -moz-max-content;
  width: max-content;
}
.blockTitleImage--default__image img {
  border-radius: 100%;
}
