.blockTitleImage {
  --titleFontSize: var(--xsTitleFontSize, 1.8rem);
  --captionFontSize: var(--xsCaptionFontSize, 1.2rem);
  --maxWidth: var(--xsMaxWidth, 85vw);
  width: calc(100% - (var(--marginRight, 0px) + var(--marginLeft, 0px)));
}
.blockTitleImage__content-title {
  color: var(--titleColor, var(--bs-page-title-color));
  font-family: var(--titleFontFamily, var(--bs-body-font-family));
  font-size: var(--titleFontSize);
}
.blockTitleImage__caption {
  color: var(--captionColor, var(--bs-caption-text-color));
  font-family: var(--captionFontFamily, var(--bs-body-font-family));
  font-size: var(--captionFontSize);
}
