.blockTitleImage {
  --xsTitleFontSize: 1.8rem;
  --xsCaptionFontSize: 1.2rem;
}
.blockTitleImage__content-title {
  color: var(--titleColor, var(--defaultPageTitleColor));
  font-family: var(--titleFontFamily, var(--defaultFontFamily));
  font-size: var(--xsTitleFontSize);
}
.blockTitleImage__caption {
  color: var(--captionColor, var(--defaultCaptionTextColor));
  font-family: var(--captionFontFamily, var(--defaultFontFamily));
  font-size: var(--xsCaptionFontSize);
}
