.blockCta--left_offset {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blockCta--left_offset .blockCta--left_offset__content-title {
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 1rem;
  font-weight: bold;
}
.blockCta--left_offset .blockCta--left_offset__caption {
  margin-bottom: 1rem;
}
