.blockCta--full {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blockCta--full .boxed {
  max-width: var(--xsMaxWidth);
  align-self: center;
}
.blockCta--full .blockCta--full__content-title {
  margin-top: 1rem;
}
.blockCta--full .blockCta--full__buttons {
  margin-bottom: 1rem;
}
