.blockCta--default {
  max-width: var(--xsMaxWidth);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blockCta--default__content-title {
  margin-top: 1rem;
}
.blockCta--default__buttons {
  margin-bottom: 1rem;
}
