.blockCta {
  --xsTitleFontSize: 1.8rem;
  --xsCaptionFontSize: 1.2rem;
  --xsTextFontSize: 1.2rem;
}
.blockCta__content-title {
  font-family: var(--titleFontFamily, var(--defaultFontFamily));
  font-size: var(--xsTitleFontSize);
  color: var(--titleColor, var(--defaultPageTitleColor));
}
.blockCta__caption {
  font-family: var(--captionFontFamily, var(--defaultFontFamily));
  font-size: var(--xsCaptionFontSize);
  color: var(--captionColor, var(--defaultCaptionTextColor));
}
.blockCta__text {
  font-family: var(--textFontFamily, var(--defaultFontFamily));
  font-size: var(--xsTextFontSize);
  color: var(--textColor, var(--bs-block-text-color));
}
.blockCta__buttons {
  justify-content: var(--xsTextAlign);
}
.blockCta__button {
  --bs-btn-bg: var(--buttonColor, var(--bs-accent));
  --bs-btn-font-size: var(--xsTextFontSize);
  --bs-btn-color: var(--buttonLinkColor, var(--bs-button-link-color));
  --bs-btn-border-color: var(--buttonLinkColor, var(--bs-button-link-color));
  --bs-btn-hover-bg: var(--buttonColor, var(--bs-accent));
  --bs-btn-hover-color: var(--buttonLinkColor, var(--bs-button-link-color));
  --bs-btn-hover-border-color: var(--buttonLinkColor, var(--bs-button-link-color));
}
.blockCta__button a {
  color: var(--buttonLinkColor, var(--bs-accent));
  padding-left: var(--buttonIcon, 0rem);
}
.blockCta__button-icon svg {
  color: var(--buttonLinkColor, var(--bs-button-link-color));
}
.blockCta__button-secondary {
  --bs-btn-bg: var(--buttonSecondaryColor, var(--bs-secondary));
  --bs-btn-font-size: var(--xsTextFontSize);
  --bs-btn-color: var(--buttonSecondaryLinkColor, var(--bs-button-link-color));
  --bs-btn-border-color: var(--buttonSecondaryLinkColor, var(--bs-button-link-color));
  --bs-btn-hover-bg: var(--buttonSecondaryColor, var(--bs-secondary));
  --bs-btn-hover-color: var(--buttonSecondaryLinkColor, var(--bs-button-link-color));
  --bs-btn-hover-border-color: var(--buttonSecondaryLinkColor, var(--bs-button-link-color));
}
.blockCta__button-secondary a {
  color: var(--buttonSecondaryLinkColor, var(--bs-secondary));
  padding-left: var(--buttonSecondaryIcon, 0rem);
}
.blockCta__button-secondary-icon svg {
  fill: var(--buttonSecondaryLinkColor, var(--bs-button-link-color));
}
