.blockCta--right_offset {
  max-width: var(--maxWidth);
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.blockCta--right_offset .blockCta--right_offset__content-title {
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 1rem;
}
.blockCta--right_offset .blockCta--right_offset__caption {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .blockCta--right_offset {
    position: relative;
    right: -3rem;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (min-width: 992px) {
  .blockCta--right_offset {
    position: relative;
    right: -10rem;
  }
}
@media screen and (orientation: landscape) and (min-width: 800px) and (max-height: 500px) {
  .blockCta--right_offset {
    position: relative;
    right: -3rem;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media screen and (orientation: landscape) and (min-width: 660px) and (max-width: 750px) {
  .blockCta--right_offset {
    position: relative;
    top: -6rem;
    box-shadow: gray 10px 10px 20px;
  }
}
