.nodeBlogPost--full__title {
  color: var(--bs-blog-title-color);
}
.nodeBlogPost--full__intro {
  color: var(--bs-caption-text-color);
  margin-top: 1.2rem;
}
.nodeBlogPost--full__intro p {
  margin: 0 1rem;
}
.nodeBlogPost--full__caption {
  color: var(--bs-intro-text-color);
}
.nodeBlogPost--full__image img {
  width: 100%;
}
.nodeBlogPost--full .field--name-field-blog-tags {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin: 0 1rem;
  font-size: 0.8rem;
}
