.blockHighlightedTextImage {
  --xsTitleFontSize: 1.8rem;
  --xsCaptionFontSize: 1.2rem;
  --xsTextFontSize: 1.2rem;
}
.blockHighlightedTextImage__content-title {
  color: var(--titleColor, var(--defaultPageTitleColor));
  font-family: var(--titleFontFamily, var(--defaultFontFamily));
  font-size: var(--xsTitleFontSize, 1.8rem);
}
.blockHighlightedTextImage__caption {
  color: var(--captionColor, var(--defaultCaptionTextColor));
  font-family: var(--captionFontFamily, var(--defaultFontFamily));
  font-size: var(--xsCaptionFontFamily, 1.2rem);
}
.blockHighlightedTextImage__highlighted-text {
  font-family: var(--textFontFamily, var(--defaultFontFamily));
  font-size: var(--xsTextFontSize, 1.2rem);
}
.blockHighlightedTextImage__highlighted-text > mark {
  background-color: var(--highlightedColor, var(--bs-accent));
  color: var(--textColor, var(--bs-block-text-color));
}
