.blockHighlightedTextImage--default {
  max-width: var(--maxWidth);
  background: 100%;
  background-size: cover;
}
.blockHighlightedTextImage--default .block__container {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: 1fr auto 3fr;
}
.blockHighlightedTextImage--default__content-title {
  grid-column: 1;
  grid-row: 1;
  height: -moz-fit-content;
  height: fit-content;
  align-self: end;
}
.blockHighlightedTextImage--default__caption {
  grid-column: 1;
  grid-row: 2;
}
.blockHighlightedTextImage--default__add-image {
  grid-column: 1;
  grid-row: 3;
  z-index: 0;
  justify-self: center;
  align-self: end;
}
.blockHighlightedTextImage--default__add-image article {
  width: -moz-fit-content;
  width: fit-content;
}
.blockHighlightedTextImage--default__add-image img {
  width: 100%;
}
.blockHighlightedTextImage--default__highlighted-text {
  grid-column: 1;
  grid-row: 3;
  height: -moz-fit-content;
  height: fit-content;
  align-self: center;
  justify-self: center;
  z-index: 1;
  font-style: italic;
  font-weight: bold;
}

.mediaImage--content__image {
  height: 100%;
}
