.blockImagesSlide--full {
  --xsMaxWidth: 100%;
  display: flex;
  justify-content: center;
}
.blockImagesSlide--full .boxed {
  max-width: var(--xsMaxWidth);
  height: -moz-max-content;
  height: max-content;
  align-self: center;
}
.blockImagesSlide--full img {
  max-width: 100%;
}
