.menuMain {
  background-color: var(--backgroundColor);
  font-family: var(--bt--font-family, sans-serif);
}
.menuMain:hover {
  background-color: var(--backgroundColorHover);
}
.menuMain .dropdown-menu {
  background-color: var(--backgroundColor);
}
.menuMain .nav-item > .nav-link, .menuMain .dropdown > .nav-link, .menuMain .dropdown-item > .nav-link {
  color: var(--itemColor);
}
.menuMain .nav-item > .nav-link:hover, .menuMain .dropdown > .nav-link:hover, .menuMain .dropdown-item > .nav-link:hover {
  color: var(--itemColorHover);
}
.menuMain .nav-item, .menuMain .dropdown-item {
  background-color: var(--itemBackgroundColor);
}
.menuMain .nav-item:hover, .menuMain .dropdown-item:hover {
  background-color: var(--itemBackgroundColorHover);
}
.menuMain .nav-item {
  padding: var(--itemPadding);
}
