.block {
  --xsAlignSelf: stretch;
  --xsJustifySelf: center;
  --xsTextAlign: center;
  --xsMaxWidth: 85vw;
  --xsMarginLeft: 0px;
  --xsMarginTop: 0px;
  --xsMarginRight: 0px;
  --xsMarginBottom: 0px;
  --xsPaddingLeft: 1rem;
  --xsPaddingTop: 1rem;
  --xsPaddingRight: 1rem;
  --xsPaddingBottom: 1rem;
  --alignSelf: var(--xsAlignSelf);
  --justifySelf:var(--xsJustifySelf);
  --textAlign:var(--xsTextAlign);
  --maxWidth: var(--xsMaxWidth);
  --marginLeft:var(--xsMarginLeft);
  --marginTop: var(--xsMarginTop);
  --marginRight: var(--xsMarginRight);
  --marginBottom: var(--xsMarginBottom);
  --paddingLeft: var(--xsPaddingLeft);
  --paddingTop: var(--xsPaddingTop);
  --paddingRight: var(--xsPaddingRight);
  --paddingBottom: var(--xsPaddingBottom);
  margin-left: var(--marginLeft);
  margin-top: var(--marginTop);
  margin-right: var(--marginRight);
  margin-bottom: var(--marginBottom);
  padding-left: var(--paddingLeft);
  padding-top: var(--paddingTop);
  padding-right: var(--paddingRight);
  padding-bottom: var(--paddingBottom);
  align-self: var(--alignSelf);
  justify-self: var(--justifySelf);
  text-align: var(--textAlign);
  background-color: var(--backgroundColor, var(--bs-block-bg-color));
}
