[class$=__block-title] {
  display: none;
}

[class$=__content-title] {
  font-size: calc(1.425rem + 2.1vw);
  letter-spacing: 0.1rem;
  text-shadow: none;
}
@media (min-width: 1200px) {
  [class$=__content-title] {
    font-size: 3rem;
  }
}

[class$=__caption] {
  font-size: 1.25rem;
  text-transform: uppercase;
}

[class$=__text] {
  margin-top: 1rem;
}

[class$=__link] {
  font-size: 1rem;
}
