.block.blockTextImage--full {
  --maxWidth: var(--xsMaxWidth, 400px);
}

.blockTextImage--full {
  display: flex;
  flex-direction: column;
}
.blockTextImage--full .boxed {
  max-width: var(--maxWidth);
  align-self: center;
}
.blockTextImage--full__content-title {
  margin-top: var(--captionFontSize);
  margin-bottom: 0;
}
.blockTextImage--full__caption {
  padding-bottom: var(--captionFontSize);
}
.blockTextImage--full__text {
  margin-bottom: var(--captionFontSize);
}
.blockTextImage--full__text p {
  margin-right: 1rem;
  margin-left: 1rem;
}
.blockTextImage--full__image {
  width: auto;
}
.blockTextImage--full__image img {
  width: 100%;
}
.blockTextImage--full__buttons {
  margin-bottom: var(--captionFontSize);
}
.blockTextImage--full__button {
  justify-self: center;
}
