.blockTextImage--default {
  max-width: var(--maxWidth);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blockTextImage--default__content-title {
  margin-top: var(--captionFontSize);
  margin-bottom: 0;
}
.blockTextImage--default__caption {
  padding-bottom: var(--captionFontSize);
}
.blockTextImage--default__text {
  margin-bottom: var(--captionFontSize);
}
.blockTextImage--default__text p {
  margin-right: 1rem;
  margin-left: 1rem;
}
.blockTextImage--default__image img {
  width: 100%;
}
.blockTextImage--default__buttons {
  margin-bottom: var(--captionFontSize);
}
.blockTextImage--default__button {
  justify-self: center;
}
