.block.blockQuote {
  --maxWidth: var(--xsMaxWidth, max-content);
  --textAlign: var(--xsTextAlign, left);
}

.blockQuote {
  --textFontSize: var(--xsTextFontSize, 2rem);
  --maxWidth: var(--xsMaxWidth);
  width: calc(100% - (var(--marginRight, 0px) + var(--marginLeft, 0px)));
  overflow: clip;
}
.blockQuote__text {
  color: var(--textColor, var(--bs-block-text-color));
  font-family: var(--textFontFamily, var(--bs-body-font-family));
  font-size: var(--textFontSize);
}
.blockQuote__text::before {
  color: var(--symbolColor, var(--bs-accent));
}
.blockQuote__source {
  color: var(--sourceColor, var(--bs-body-color));
  font-family: var(--textFontFamily, var(--bs-body-font-family));
}
.blockQuote__link-single a {
  color: var(--linkColor, var(--bs-primary));
  font-family: var(--textFontFamily, var(--bs-body-font-family));
}
