.block.blocHero {
  align-self: unset;
  justify-self: unset;
  background-color: none;
}

.blockHero {
  --xsTitleFontSize: 1.8rem;
  --xsCaptionFontSize: 1.2rem;
  --xsTextFontSize: 1.2rem;
  --xsAlignItems: center;
  --xsJustifyContent: center;
  align-items: var(--xsAlignItems);
  justify-content: var(--xsJustifyContent);
}
.blockHero__content-title {
  font-family: var(--titleFontFamily, var(--defaultFontFamily));
  font-size: var(--xsTitleFontSize);
  color: var(--titleColor, var(--defaultPageTitleColor));
}
.blockHero__caption {
  font-family: var(--captionFontFamily, var(--defaultFontFamily));
  font-size: var(--xsCaptionFontSize);
  color: var(--captionColor, var(--defaultCaptionTextColor));
}
.blockHero__text {
  font-family: var(--textFontFamily, var(--defaultFontFamily));
  font-size: var(--xsTextFontSize);
  color: var(--textColor, var(--bs-block-text-color));
}
.blockHero__buttons {
  justify-content: var(--xsTextAlign);
}
.blockHero__button {
  --bs-btn-bg: var(--buttonColor, var(--defaultButtonColor));
  --bs-btn-color: var(--buttonLinkColor, var(--defaultButtonLinkColor));
  --bs-btn-border-color: var(--buttonLinkColor, var(--defaultButtonLinkColor));
  --bs-btn-hover-bg: var(--buttonColor, var(--defaultButtonColor));
  --bs-btn-hover-color: var(--buttonLinkColor, var(--defaultButtonLinkColor));
  --bs-btn-hover-border-color: var(--buttonLinkColor, var(--defaultButtonLinkColor));
}
.blockHero__button a {
  color: var(--buttonLinkColor, var(--defaultButtonLinkColor));
  padding-left: var(--buttonIcon, 0rem);
}
.blockHero__button-icon svg {
  color: var(--buttonLinkColor, var(--defaultButtonLinkColor));
}
.blockHero__button-secondary {
  --bs-btn-bg: var(--buttonSecondaryColor, var(--defaultButtonSecondaryColor));
  --bs-btn-color: var(--buttonSecondaryLinkColor, var(--defaultButtonLinkColor));
  --bs-btn-border-color: var(--buttonSecondaryLinkColor, var(--defaultButtonLinkColor));
  --bs-btn-hover-bg: var(--buttonSecondaryColor, var(--defaultButtonSecondaryColor));
  --bs-btn-hover-color: var(--buttonSecondaryLinkColor, var(--defaultButtonLinkColor));
  --bs-btn-hover-border-color: var(--buttonSecondaryLinkColor, var(--defaultButtonLinkColor));
}
.blockHero__button-secondary a {
  color: var(--buttonSecondaryLinkColor, var(--defaultButtonLinkColor));
  padding-left: var(--buttonSecondaryIcon, 0rem);
}
.blockHero__button-secondary-icon svg {
  color: var(--buttonSecondaryLinkColor, var(--defaultButtonLinkColor));
}
