.blockHero--full {
  width: 100%;
  min-height: 90vh;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  background: 100%;
  background-size: cover;
}
.blockHero--full .boxed {
  max-width: var(--maxWidth);
  padding: 1rem;
  background-color: var(--backgroundColor, transparent);
}
.blockHero--full__content-title {
  margin-bottom: 0;
  padding: 0 1vw;
  height: -moz-fit-content;
  height: fit-content;
}
.blockHero--full__caption {
  margin-bottom: 1.5rem;
  padding: 0 1vw;
}
.blockHero--full__text {
  margin-top: 0px;
  margin-bottom: 1.5rem;
  padding: 0 1vw;
  height: -moz-max-content;
  height: max-content;
}
.blockHero--full__buttons {
  min-width: 260px;
  width: 100%;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0 1vw;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
.blockHero--full__button, .blockHero--full__button-secondary {
  margin: 0;
}

@media (min-width: 576px) {
  .blockHero--full__buttons {
    width: 100%;
    margin: 0;
    flex-direction: row;
  }
}
