.block.blocHero {
  align-self: unset;
  justify-self: unset;
  background-color: none;
}

.blockHero {
  --titleFontSize: var(--xsTitleFontSize, 1.8rem);
  --captionFontSize: var(--xsCaptionFontSize, 1.2rem);
  --textFontSize: var(--xsTextFontSize, 1.2rem);
  --alignItems: var(--xsAlignItems, center);
  --justifyContent: var(--xsJustifyContent, center);
  --maxWidth: var(--xsMaxWidth, 85vw);
  align-items: var(--alignItems);
  justify-content: var(--justifyContent);
  width: calc(100% - (var(--marginRight, 0px) + var(--marginLeft, 0px)));
}
.blockHero__content-title {
  font-family: var(--titleFontFamily, var(--defaultFontFamily));
  font-size: var(--titleFontSize);
  color: var(--titleColor, var(--defaultPageTitleColor));
}
.blockHero__caption {
  font-family: var(--captionFontFamily, var(--defaultFontFamily));
  font-size: var(--captionFontSize);
  color: var(--captionColor, var(--defaultCaptionTextColor));
}
.blockHero__text {
  font-family: var(--textFontFamily, var(--defaultFontFamily));
  font-size: var(--textFontSize);
  color: var(--textColor, var(--bs-block-text-color));
}
.blockHero__buttons {
  justify-content: var(--textAlign);
}
.blockHero__button {
  --bs-btn-bg: var(--buttonColor, var(--defaultButtonColor));
  --bs-btn-color: var(--buttonLinkColor, var(--defaultButtonLinkColor));
  --bs-btn-border-color: var(--buttonLinkColor, var(--defaultButtonLinkColor));
  --bs-btn-hover-bg: var(--buttonColor, var(--defaultButtonColor));
  --bs-btn-hover-color: var(--buttonLinkColor, var(--defaultButtonLinkColor));
  --bs-btn-hover-border-color: var(--buttonLinkColor, var(--defaultButtonLinkColor));
}
.blockHero__button a {
  color: var(--buttonLinkColor, var(--defaultButtonLinkColor));
  padding-left: var(--buttonIcon, 0rem);
  font-size: var(--textFontSize);
}
.blockHero__button-icon svg {
  color: var(--buttonLinkColor, var(--defaultButtonLinkColor));
}
.blockHero__button-secondary {
  --bs-btn-bg: var(--buttonSecondaryColor, var(--defaultButtonSecondaryColor));
  --bs-btn-color: var(--buttonSecondaryLinkColor, var(--defaultButtonLinkColor));
  --bs-btn-border-color: var(--buttonSecondaryLinkColor, var(--defaultButtonLinkColor));
  --bs-btn-hover-bg: var(--buttonSecondaryColor, var(--defaultButtonSecondaryColor));
  --bs-btn-hover-color: var(--buttonSecondaryLinkColor, var(--defaultButtonLinkColor));
  --bs-btn-hover-border-color: var(--buttonSecondaryLinkColor, var(--defaultButtonLinkColor));
}
.blockHero__button-secondary a {
  color: var(--buttonSecondaryLinkColor, var(--defaultButtonLinkColor));
  padding-left: var(--buttonSecondaryIcon, 0rem);
  font-size: var(--textFontSize);
}
.blockHero__button-secondary-icon svg {
  color: var(--buttonSecondaryLinkColor, var(--defaultButtonLinkColor));
}
