.blockHero {
  --defaultPadding: 0rem;
  --defaultTitleColor: var(--defaultPageTitleColor);
  --defaultCaptionColor: var(--defaultCaptionTextColor);
  --defaultTextBgColor: transparent;
  --defaultTextColor: var(--bs-block-text-color);
  --defaultButtonColor: var(--bs-accent);
  --defaultButtonLinkColor: var(--bs-button-link-color);
  --defaultButtonSecondaryColor: var(--bs-secondary);
  width: 100%;
  padding-left: calc(var(--smPaddingLeft, var(--defaultPadding)) * var(--defaultPaddingFactor));
  padding-top: calc(var(--smPaddingTop, var(--defaultPadding)) * var(--defaultPaddingFactor));
  padding-right: calc(var(--smPaddingRight, var(--defaultPadding)) * var(--defaultPaddingFactor));
  padding-bottom: calc(var(--smPaddingBottom, var(--defaultPadding)) * var(--defaultPaddingFactor));
  align-self: var(--smAlignSelf, stretch);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.blockHero__content-title {
  text-align: var(--textAlign, center);
  color: var(--titleColor, var(--defaultTitleColor));
}
.blockHero__caption {
  color: var(--captionColor, var(--defaultCaptionColor));
  text-align: var(--textAlign, center);
}
.blockHero__text {
  background-color: var(--textBgColor, var(--defaultTextBgColor));
  color: var(--textColor, var(--defaultTextColor));
  text-align: var(--textAlign, center);
}
.blockHero__button {
  --bs-btn-bg: var(--buttonColor, var(--defaultButtonColor));
  --bs-btn-color: var(--buttonLinkColor, var(--defaultButtonLinkColor));
  --bs-btn-border-color: var(--buttonLinkColor, var(--defaultButtonLinkColor));
  --bs-btn-hover-bg: var(--buttonColor, var(--defaultButtonColor));
  --bs-btn-hover-color: var(--buttonLinkColor, var(--defaultButtonLinkColor));
  --bs-btn-hover-border-color: var(--buttonLinkColor, var(--defaultButtonLinkColor));
}
.blockHero__button a {
  color: var(--buttonLinkColor, var(--defaultButtonLinkColor));
  padding-left: var(--buttonIcon, 0rem);
}
.blockHero__button-icon svg {
  color: var(--buttonLinkColor, var(--defaultButtonLinkColor));
}
.blockHero__button-secondary {
  --bs-btn-bg: var(--buttonSecondaryColor, var(--defaultButtonSecondaryColor));
  --bs-btn-color: var(--buttonSecondaryLinkColor, var(--defaultButtonLinkColor));
  --bs-btn-border-color: var(--buttonSecondaryLinkColor, var(--defaultButtonLinkColor));
  --bs-btn-hover-bg: var(--buttonSecondaryColor, var(--defaultButtonSecondaryColor));
  --bs-btn-hover-color: var(--buttonSecondaryLinkColor, var(--defaultButtonLinkColor));
  --bs-btn-hover-border-color: var(--buttonSecondaryLinkColor, var(--defaultButtonLinkColor));
}
.blockHero__button-secondary a {
  color: var(--buttonSecondaryLinkColor, var(--defaultButtonLinkColor));
  padding-left: var(--buttonSecondaryIcon, 1rem);
}
.blockHero__button-secondary-icon svg {
  color: var(--buttonSecondaryLinkColor, var(--defaultButtonLinkColor));
}

@media screen and (min-width: 768px) {
  .blockHero {
    padding-left: calc(var(--mdPaddingLeft, var(--defaultPadding)) * var(--defaultPaddingFactor));
    padding-top: calc(var(--mdPaddingTop, var(--defaultPadding)) * var(--defaultPaddingFactor));
    padding-right: calc(var(--mdPaddingRight, var(--defaultPadding)) * var(--defaultPaddingFactor));
    padding-bottom: calc(var(--mdPaddingBottom, var(--defaultPadding)) * var(--defaultPaddingFactor));
    align-self: var(--mdAlignSelf, stretch);
  }
}
@media screen and (min-width: 1024px) {
  .blockHero {
    padding-left: calc(var(--lgPaddingLeft, var(--defaultPadding)) * var(--defaultPaddingFactor));
    padding-top: calc(var(--lgPaddingTop, var(--defaultPadding)) * var(--defaultPaddingFactor));
    padding-right: calc(var(--lgPaddingRight, var(--defaultPadding)) * var(--defaultPaddingFactor));
    padding-bottom: calc(var(--lgPaddingBottom, var(--defaultPadding)) * var(--defaultPaddingFactor));
    height: calc(100vh - var(--navbarHeight, 60px));
    max-height: calc(100vh - var(--navbarHeight, 60px));
    align-self: var(--lgAlignSelf, stretch);
  }
}
@media screen and (min-width: 1280px) {
  .blockHero {
    padding-left: calc(var(--xlPaddingLeft, var(--defaultPadding)) * var(--defaultPaddingFactor));
    padding-top: calc(var(--xlPaddingTop, var(--defaultPadding)) * var(--defaultPaddingFactor));
    padding-right: calc(var(--xlPaddingRight, var(--defaultPadding)) * var(--defaultPaddingFactor));
    padding-bottom: calc(var(--xlPaddingBottom, var(--defaultPadding)) * var(--defaultPaddingFactor));
    align-self: var(--xlAlignSelf, stretch);
  }
}
@media screen and (min-width: 1536px) {
  .blockHero {
    padding-left: calc(var(--xxlPaddingLeft, var(--defaultPadding)) * var(--defaultPaddingFactor));
    padding-top: calc(var(--xxlPaddingTop, var(--defaultPadding)) * var(--defaultPaddingFactor));
    padding-right: calc(var(--xxlPaddingRight, var(--defaultPadding)) * var(--defaultPaddingFactor));
    padding-bottom: calc(var(--xxlPaddingBottom, var(--defaultPadding)) * var(--defaultPaddingFactor));
    align-self: var(--xxlAlignSelf, stretch);
  }
}
