.blockHighlightedText {
  --textFontSize: var(--xsTextFontSize, 1.2rem);
  --maxWidth: var(--xsMaxWidth, 85vw);
  width: calc(100% - (var(--marginRight, 0px) + var(--marginLeft, 0px)));
}
.blockHighlightedText__highlighted-text {
  font-family: var(--textFontFamily, var(--bs-body-font-family));
  font-size: var(--textFontSize);
}
.blockHighlightedText__highlighted-text > mark {
  background-color: var(--highlightedColor, var(--bs-accent));
  color: var(--textColor, var(--bs-body-color));
}
