.blockHighlightedText--full .boxed {
  max-width: var(--xsMaxWidth);
  align-self: center;
}
.blockHighlightedText--full .blockHighlightedText--full__highlighted-text {
  letter-spacing: 0.125rem;
  font-style: italic;
  margin: 1rem;
  font-weight: bold;
}
