.blockHighlightedText--default {
  max-width: var(--xsMaxWidth);
}
.blockHighlightedText--default__highlighted-text {
  letter-spacing: 0.125rem;
  font-style: italic;
  margin: 1rem;
  font-weight: bold;
}
