.blockHighlightedText {
  --xsTextFontSize: 1.2rem;
}
.blockHighlightedText__highlighted-text {
  font-family: var(--textFontFamily, var(--defaultFontFamily));
  font-size: var(--xsTextFontSize);
}
.blockHighlightedText__highlighted-text > mark {
  background-color: var(--highlightedColor, var(--bs-accent));
  color: var(--textColor, var(--bs-block-text-color));
}
