.block.menuNormal {
  --xsAlignSelf: center;
  --xsMaxWidth: 310px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  align-self: auto;
}

h2.menuNormal__menu-title {
  margin-bottom: 0px;
}

.menuNormal {
  --xsTitleFontSize: 1.25rem;
  --xsItemFontSize: 1rem;
  --xsItemPaddingLeft: 1rem;
  --xsItemPaddingTop: 1rem;
  --xsItemPaddingRight: 1rem;
  --xsItemPaddingBottom: 1rem;
  --titleFontSize: var(--xsTitleFontSize);
  --itemFontSize: var(--xsItemFontSize);
  --itemPaddingLeft: var(--xsItemPaddingLeft);
  --itemPaddingTop: var(--xsItemPaddingTop);
  --itemPaddingRight: var(--xsItemPaddingRight);
  --itemPaddingBottom: var(--xsItemPaddingBottom);
  --maxWidth: var(--xsMaxWidth);
  width: calc(100% - (var(--marginRight, 0px) + var(--marginLeft, 0px)));
}
.menuNormal__menu-title {
  font-family: var(--titleFontFamily, var(--defaultFontFamily));
  font-size: var(--titleFontSize);
  color: var(--titleColor, var(--defaultPageTitleColor));
}
.menuNormal__nav {
  --xsPaddingTop: 0px;
  gap: var(--gap, 0px);
  padding-left: var(--paddingLeft);
  padding-top: var(--paddingTop);
  padding-right: var(--paddingRight);
  padding-bottom: var(--paddingBottom);
  max-width: var(--maxWidth);
  justify-content: var(--justifySelf);
}
.menuNormal__link {
  display: block;
  padding-left: var(--itemPaddingLeft);
  padding-top: var(--itemPaddingTop);
  padding-right: var(--itemPaddingRight);
  padding-bottom: var(--itemPaddingBottom);
  font-family: var(--itemFontFamily, var(--defaultFontFamily));
  font-size: var(--itemFontSize);
  color: var(--itemColor, #BC8927);
}
.menuNormal__link:hover, .menuNormal__link.active {
  color: var(--itemColorHover, #b38225);
}
.menuNormal__item {
  background-color: var(--itemBackgroundColor, transparent);
  align-self: var(--alignSelf);
  justify-self: var(--justifySelf);
}
.menuNormal__item:hover {
  background-color: var(--itemBackgroundColorHover, transparent);
}
