.blockMenuFooter {
  padding: 0;
}

.menuFooter--two {
  min-width: -moz-max-content;
  min-width: max-content;
  list-style: none;
  padding-left: 0;
}
.menuFooter--two .nav {
  gap: 0.8rem;
}
.menuFooter--two .nav-item {
  width: -moz-max-content;
  width: max-content;
}
.menuFooter--two .nav-link {
  font-size: 0.8rem;
  transition: color 600ms;
  padding: 0;
}
