.menuFooter--horizontal {
  min-width: -moz-max-content;
  min-width: max-content;
  list-style: none;
  max-width: var(--maxWidth);
}
.menuFooter--horizontal .menuFooter__item {
  min-width: 105px;
  max-width: 300px;
  width: auto;
}
.menuFooter--horizontal .menuFooter__link {
  transition: color 600ms;
}
