.menuFooter {
  background-color: var(--backgroundColor);
}
.menuFooter:hover {
  background-color: var(--backgroundColorHover);
}
.menuFooter .nav-item > .nav-link, .menuFooter .dropdown > .nav-link, .menuFooter .dropdown-item > .nav-link {
  color: var(--itemColor, var(--footerLinkColor));
}
.menuFooter .nav-item > .nav-link:hover, .menuFooter .dropdown > .nav-link:hover, .menuFooter .dropdown-item > .nav-link:hover {
  color: var(--itemColorHover, var(--footerLinkHoverColor));
}
.menuFooter .nav-item {
  background-color: var(--itemBackgroundColor);
  padding: var(--itemPadding);
}
.menuFooter .nav-item:hover {
  background-color: var(--itemBackgroundColorHover);
}
