.menuFooter--default {
  min-width: -moz-max-content;
  min-width: max-content;
  list-style: none;
}
.menuFooter--default .menuFooter__item {
  min-width: 105px;
  max-width: 300px;
  width: auto;
}
.menuFooter--default .menuFooter__link {
  transition: color 600ms;
}
