.blockPageTitle {
  --titleFontSize: var(--xsTitleFontSize, 2.5rem);
  --maxWidth: var(--xsMaxWidth, max-content);
  width: calc(100% - (var(--marginRight, 0px) + var(--marginLeft, 0px)));
  max-width: var(--maxWidth);
}
.blockPageTitle__content-title {
  font-family: var(--titleFontFamily, var(--defaultFontFamily));
  font-size: var(--titleFontSize);
  color: var(--titleColor, var(--bs-primary));
}
