.block.blockImagesGallery {
  --xsMaxWidth: 95vw;
  --xsAlignSelf: center;
}

.blockImagesGallery {
  --maxWidth: var(--xsMaxWidth);
  width: calc(100% - (var(--marginRight, 0px) + var(--marginLeft, 0px)));
}
