.blockImagesGallery--full {
  --xsMaxWidth: 95vw;
  --xsAlignSelf: center;
}
.blockImagesGallery--full .boxed {
  max-width: var(--xsMaxWidth);
  align-self: center;
}
.blockImagesGallery--full .photoswipe-gallery > div:nth-child(1) {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}
.blockImagesGallery--full__images {
  max-width: 130px;
  max-height: 130px;
}
.blockImagesGallery--full__images img {
  width: 130px;
  height: 130px;
}
