.blockText {
  --xsTitleFontSize: 1.8rem;
  --xsCaptionFontSize: 1.2rem;
  --xsTextFontSize: 1.2rem;
}
.blockText__content-title {
  color: var(--titleColor, var(--defaultPageTitleColor));
  font-family: var(--titleFontFamily, var(--defaultFontFamily));
  font-size: var(--xsTitleFontSize);
}
.blockText__caption {
  color: var(--captionColor, var(--defaultCaptionTextColor));
  font-family: var(--captionFontFamily, var(--defaultFontFamily));
  font-size: var(--xsCaptionFontSize);
}
.blockText__text {
  color: var(--textColor, var(--bs-block-text-color));
  font-family: var(--textFontFamily, var(--defaultFontFamily));
  font-size: var(--xsTextFontSize);
}
.blockText__button {
  --bs-btn-bg: var(--buttonColor, var(--bs-accent));
  --bs-btn-color: var(--buttonLinkColor, var(--bs-button-link-color));
  --bs-btn-border-color: var(--buttonLinkColor, var(--bs-button-link-color));
  --bs-btn-hover-bg: var(--buttonColor, var(--bs-accent));
  --bs-btn-hover-color: var(--buttonLinkColor, var(--bs-button-link-color));
  --bs-btn-hover-border-color: var(--buttonLinkColor, var(--bs-button-link-color));
}
.blockText__button a {
  color: var(--buttonLinkColor, var(--bs-button-link-color));
  padding-left: var(--buttonIcon, 0);
}
.blockText__button-icon svg {
  color: var(--buttonLinkColor, var(--bs-button-link-color));
}
