.blockTitleIcon--default {
  max-width: var(--xsMaxWidth);
  display: grid;
}
.blockTitleIcon--default__content-title {
  font-size: 2rem;
  letter-spacing: 0.25rem;
}
.blockTitleIcon--default__icon {
  margin: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  justify-self: center;
}
.blockTitleIcon--default__icon .svg-icon {
  width: 50px;
  height: 50px;
}
.blockTitleIcon--default__icon svg {
  width: 50px;
  height: 50px;
}
