.blockTitleIcon--default {
  --iconSize: var(--xsIconSize, 48px);
  max-width: var(--maxWidth);
}
.blockTitleIcon--default__content-title {
  margin-bottom: 0;
}
.blockTitleIcon--default__caption {
  padding-bottom: var(--captionFontSize);
}
.blockTitleIcon--default__icon {
  margin-top: var(--captionFontSize);
  margin-bottom: calc(var(--iconSize) * 0.15);
  width: var(--iconSize);
  height: var(--iconSize);
}
.blockTitleIcon--default__icon svg {
  width: var(--iconSize);
  height: var(--iconSize);
}
