.block.blockTitleIcon {
  background-color: var(--backgroundColor, var(--bs-block-bg-color));
}

.blockTitleIcon {
  --titleFontSize: var(--xsTitleFontSize, 1.8rem);
  --captionFontSize: var(--xsCaptionFontSize, 1.2rem);
  --maxWidth: var(--xsMaxWidth, 85vw);
  width: calc(100% - (var(--marginRight, 0px) + var(--marginLeft, 0px)));
}
.blockTitleIcon__icon svg {
  color: var(--iconColor, var(--bs-accent));
}
.blockTitleIcon__content-title {
  color: var(--titleColor, var(--bt--block-title-color, var(--bt--page-title-color, var(--bs-primary-600))));
  font-family: var(--titleFontFamily, var(--bs-body-font-family));
  font-size: var(--titleFontSize);
}
.blockTitleIcon__caption {
  color: var(--captionColor, var(--bt--caption-text-color, var(--bs-secondary)));
  font-family: var(--captionFontFamily, var(--bs-body-font-family));
  font-size: var(--captionFontSize);
}
