.blockTitleIcon--full {
  --xsIconSize: 48px;
  --iconSize: var(--xsIconSize);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blockTitleIcon--full .boxed {
  max-width: var(--maxWidth);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blockTitleIcon--full__content-title {
  margin-bottom: 0;
}
.blockTitleIcon--full__caption {
  padding-bottom: var(--captionFontSize);
}
.blockTitleIcon--full__icon {
  margin-top: var(--captionFontSize);
  margin-bottom: calc(var(--iconSize) * 0.15);
  width: var(--iconSize);
  height: var(--iconSize);
}
.blockTitleIcon--full__icon svg {
  width: var(--iconSize);
  height: var(--iconSize);
}
