{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% 
  set region_classes = [
    'region',
    'regionBottom',
  ]
%}

{% set style_vars = [] %}
{%
  set style_vars = style_vars|merge([
    theme_settings.background_color == 'default' ? '--backgroundColor: transparent' : '',
    theme_settings.background_color == 'customColor' ? '--backgroundColor: ' ~ theme_settings.background_color_custom : '',
    theme_settings.background_color != 'default' and theme_settings.background_color != 'customColor' ? '--backgroundColor: var(--' ~ theme_settings.background_color ~ ')' : '',

    theme_settings.background_color_hover == 'default' ? '--backgroundColorHover: var(--backgroundColor)' : '',
    theme_settings.background_color_hover == 'customColor' ? '--backgroundColorHover: ' ~ theme_settings.background_color_custom_hover : '',
    theme_settings.background_color_hover != 'default' and theme_settings.background_color_hover != 'customColor' ? '--backgroundColorHover: var(--' ~ theme_settings.background_color_hover ~ ')' : '',

    theme_settings.justify_content != 'center' ? '--justifyContent: ' ~ theme_settings.justify_content : '',
    theme_settings.align_items != 'center' ? '--alignItems: ' ~ theme_settings.align_items : '',
    theme_settings.height != '' ? '--height: ' ~ theme_settings.height : '',
    theme_settings.container_select == 'full' ? '--paddingX: ' ~ theme_settings.full_select : '',
    theme_settings.container_select == 'box' ? '--width: ' ~ theme_settings.box_select : '',
  ]|remove_empty)
%}

{% if content %}
  <div{{ attributes.addClass(region_classes).setAttribute('style', style_vars|join('; ')) }}>
    {{ content }}
  </div>
{% endif %}
