.block.blockImage--small_circle {
  --xsMaxWidth: 100px;
}

.blockImage--small_circle {
  max-width: -moz-max-content;
  max-width: max-content;
}
.blockImage--small_circle img {
  width: var(--maxWidth);
  height: var(--maxWidth);
  border-radius: 100%;
}
