.block.blockImage--full {
  --maxWidth: var(--xsMaxWidth, 100%);
}

.blockImage--full {
  display: flex;
  justify-content: center;
}
.blockImage--full .boxed {
  max-width: var(--maxWidth);
}
.blockImage--full img {
  width: 100%;
}
