.block.blockImage--default {
  --maxWidth: var(--xsMaxWidth, 100%);
}

.blockImage--default {
  max-width: -moz-max-content;
  max-width: max-content;
  justify-self: center;
}
.blockImage--default img {
  width: var(--maxWidth);
}
