.block.blockImage {
  --alignSelf: var(--xsAlignSelf, center);
  background-color: var(--backgroundColor, transparent);
}

.blockImage {
  --maxWidth: var(--xsMaxWidth, 85vw);
  width: calc(100% - (var(--marginRight, 0px) + var(--marginLeft, 0px)));
}
