.block.blockImage--circle {
  --xsMaxWidth: 200px;
}

.blockImage--circle {
  max-width: -moz-max-content;
  max-width: max-content;
}
.blockImage--circle img {
  width: var(--maxWidth);
  height: var(--maxHeight);
  border-radius: 100%;
}
