.block.blockImage--big_circle {
  --xsMaxWidth: 300px;
}

.blockImage--big_circle {
  max-width: -moz-max-content;
  max-width: max-content;
}
.blockImage--big_circle img {
  width: var(--maxWidth);
  height: var(--maxWidth);
  border-radius: 100%;
}
